* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #1f1f1f;
  position: relative;
  height: 5rem;
}

nav .nav_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav_wrapper .check_hamburger {
  display: none;
}

nav .nav_wrapper .mobile_nav {
  top: 5rem;
  right: 0;
  z-index: 5;
  background-color: #1f1f1f;
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

nav .nav_wrapper .mobile_nav ul {
  width: 300px;
}

nav .nav_wrapper .mobile_nav ul li {
  list-style: none;
}

nav .nav_wrapper .mobile_nav ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

nav .nav_wrapper .check_hamburger:checked ~ .mobile_nav {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

nav .nav_wrapper .check_hamburger:checked
+ .hamburger
.hamburger_container
span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

nav .nav_wrapper .check_hamburger:checked
+ .hamburger
.hamburger_container
span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

nav .nav_wrapper .check_hamburger:checked
+ .hamburger
.hamburger_container
span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -9px;
}

nav .nav_wrapper .hamburger {
  cursor: pointer;
  display: none;
  margin: 1rem;
  position: absolute;
  right: 1rem;
}

nav .nav_wrapper .hamburger .hamburger_container {
  position: relative;
  width: 25px;
  height: 25px;
  top: 0px;
}

nav .nav_wrapper .hamburger .hamburger_container span {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #707070;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .nav_wrapper .hamburger .hamburger_container span:nth-child(2) {
  margin-top: 9px;
}

nav .nav_wrapper .hamburger .hamburger_container span:nth-child(3) {
  margin-top: 18px;
}

nav .nav_wrapper .logo {
  margin: 1rem;
  color: #7d7d7d;
}

nav .nav_wrapper .logo h1 {
  margin-bottom: 0;
}

nav .nav_wrapper .logo h1 .nav_logo {
  width: 80px;
}

nav .nav_wrapper .logo h1 a {
  text-decoration: none;
  color: #7d7d7d;
}

nav .nav_wrapper .navs {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_wrapper .navs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

nav .nav_wrapper .navs ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

nav .nav_wrapper .navs ul li a {
  color: #7d7d7d;
  text-decoration: none;
}

nav .nav_wrapper .navs ul .nav_profile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav_wrapper .navs ul .nav_profile a img {
  width: 50px;
  height: 50px;
}

nav .nav_wrapper .navs ul .nav_profile a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.profile {
  width: 100vw;
}

.profile .profile_container {
  width: 50%;
  margin: auto;
  background-color: #8d8b8b;
  border-radius: 1rem;
}

.profile .profile_container .profile_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 30px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.profile .profile_container .profile_posts h1 {
  text-align: center;
}

.profile .profile_container .profile_posts .cards {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  background-color: white;
  margin: 1rem;
}

.profile .profile_container .profile_posts .cards .card_body h3 {
  border-radius: 10px;
  background-color: #acd5ea;
  bottom: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile_container .profile_posts .cards .card_body h3 p {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .three_dots .dots {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 0.3rem;
  background-color: white;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .three_dots:hover {
  cursor: pointer;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .three_dots:hover > .dots {
  background-color: #e5e5e5;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .edit_check {
  display: none;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .edit_check:checked ~ .trash_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .trash_container {
  left: 10px;
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .trash_container .trash_input {
  display: none;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .trash_container .trash {
  width: 20px;
  height: 20px;
}

.profile .profile_container .profile_posts .cards .card_body h3 .post_edit .trash_container:hover {
  background-color: #bebebe;
  cursor: pointer;
}

.profile .profile_container .profile_posts .cards .card_body .post_content {
  margin-bottom: 0;
  padding: 0.5rem;
  margin: 0.5rem;
}

.profile .profile_container .profile_posts .cards .card_body .post_date {
  background-color: #5f9ea0;
  border-radius: 10px;
  margin: 0.5rem;
  text-align: center;
}

.posts_wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.posts_wrapper .home_posts {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.posts_wrapper .home_posts .posts_user {
  background-color: aquamarine;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  padding: 1rem;
}

.posts_wrapper .home_posts .posts_user img {
  width: 40px;
  height: 40px;
}

.posts_wrapper .home_posts .posts_lists {
  background-color: #28a88e;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.posts_wrapper .home_posts .posts_lists p {
  margin-top: 0.5rem;
}

.posts_wrapper .home_posts:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.posts_wrapper .home_posts:hover > .posts_lists {
  background-color: #4ed2b8;
}

.page_title {
  margin: 1rem;
}

.page_title h1 {
  text-align: center;
}

.page_title p {
  text-align: center;
}

.login_main {
  width: 100vw;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_main .login_wrapper {
  background-color: #8d8b8b;
  width: 20%;
  margin: auto;
  padding: 2rem;
  border-radius: 20px;
}

.login_main .login_wrapper .google_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.login_main .login_wrapper .google_login .google_link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_main .login_wrapper .google_login .google_link a {
  border: 1px solid gray;
  background-color: white;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
}

.login_main .login_wrapper .login_username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_main .login_wrapper .login_username input {
  border: none;
  height: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.login_main .login_wrapper .login_username input:focus {
  outline: none;
}

.login_main .login_wrapper .login_username label {
  margin-right: 1rem;
  color: white;
}

.login_main .login_wrapper .login_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_main .login_wrapper .login_password input {
  border: none;
  height: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.login_main .login_wrapper .login_password input:focus {
  outline: none;
}

.login_main .login_wrapper .login_password label {
  margin-right: 1rem;
  color: white;
}

.login_main .login_wrapper .login_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_main .login_wrapper .login_button button {
  cursor: pointer;
  background-color: #477eec;
  padding: 0;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
}

.post_form {
  background-color: #8d8b8b;
  width: 40%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 10rem;
}

.post_form .post_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.post_form .post_title input {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  height: 2rem;
}

.post_form .post_title input:focus {
  outline: none;
}

.post_form .post_content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_form .post_content textarea {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  height: 10rem;
}

.post_form .post_content textarea:focus {
  outline: none;
}

.post_form button {
  border: none;
  height: 2rem;
  width: 100%;
  border-radius: 5px;
}

.post_form button:hover {
  cursor: pointer;
}

.single_post_wrapper {
  background-color: #8d8b8b;
  width: 50vw;
  margin: auto;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.single_post_wrapper .single_post_top .single_post_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_wrapper .single_post_top .single_post_author .single_post_avatar img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.single_post_wrapper .single_post_top .single_post_content h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments {
  border-radius: 10px;
  background-color: #e0dfdf;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_left img {
  width: 40px;
  height: 40px;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_right {
  margin-left: 1rem;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_right .comment_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_right .comment_detail p {
  font-size: 0.75rem;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comments .comment_right .comment_detail p:nth-child(2) {
  margin-left: 1rem;
  color: #777777;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_avatar img {
  width: 30px;
  height: 30px;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_input {
  width: 100%;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_input form input {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_input form input:focus {
  outline: none;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .comment_input_section .comment_input form button {
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .single_post_guest {
  text-align: center;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .single_post_guest span {
  background-color: #d9d9d9;
  padding: 0.5rem;
  border-radius: 5px;
}

.single_post_wrapper .single_post_bottom .single_post_comment .comment_section .single_post_guest span a {
  text-decoration: none;
  color: black;
}

.signup_form {
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  background-color: #8d8b8b;
  padding: 2rem;
  border-radius: 1rem;
}

.signup_form .signup_username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup_form .signup_username input {
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.signup_form .signup_username input:focus {
  outline: none;
}

.signup_form .signup_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup_form .signup_email input {
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.signup_form .signup_email input:focus {
  outline: none;
}

.signup_form .signup_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup_form .signup_password input {
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.signup_form .signup_password input:focus {
  outline: none;
}

.signup_form .signup_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup_form .signup_avatar input {
  display: none;
}

.signup_form .signup_avatar label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 2rem;
  border-radius: 5px;
}

.signup_form .signup_avatar label:hover {
  cursor: pointer;
}

.signup_form button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.signup_form button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav .nav_wrapper .hamburger {
    display: block;
  }
  nav .nav_wrapper .navs {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */