<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Post</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main>
      <%- include ("partials/message") %>
      <form class="post_form" action="/profile/post" method="POST">
        <div class="post_title">
          <label for="exampleforTitle">Title</label>
          <input name="title" type="text" id="exampleforTitle" />
        </div>
        <br />
        <div class="post_content">
          <label for="exampleforContent">Content</label>
          <textarea
            id="exampleforContent"
            aria-describedby="emailHelp"
            name="content"
          ></textarea>
        </div>
        <br />
        <button type="submit">送出</button>
      </form>
    </main>
  </body>
</html>
