<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Signup</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main>
      <%- include("partials/message") %>
      <form
        class="signup_form"
        action="/auth/signup"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="signup_username">
          <label for="exampleUsername">用戶名稱</label>
          <input
            name="name"
            type="text"
            id="exampleUsername"
            placeholder="Enter username"
            required
          />
        </div>
        <br />
        <div class="signup_email">
          <label for="exampleInputEmail1">信箱</label>
          <input
            type="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
            required
          />
        </div>
        <br />
        <div class="signup_password">
          <label for="exampleInputPassword1">密碼</label>
          <input
            type="password"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <br />
        <div class="signup_avatar">
          <label for="avatar">上傳大頭貼</label>
          <input type="file" id="avatar" name="avatar" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">送出</button>
      </form>
    </main>
  </body>
</html>
